__pycache__/
*.py[cod]
.cache
vendor/
*.log
.vscode
.coverage
coverage/
*.pt
__pycache__/
.pypirc
pred.txt
multi-bleu.perl
*.pt
*.pyc
.idea
*.sublime-*
.DS_Store
env/
__pycache__/
*.lang
*.log
.cache/
dist/
